*.o
*.d
*.so
test_models/**/*.hpp
compile_commands.json
compile_flags.txt

bin/
_build/
build/
.coverage

make/local
*.pyc
*.egg-info/
dist/

clients/tinystan*
.RData
.Rhistory
*.Rproj
.Rproj.user


Manifest.toml
